@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  /* Colors corporatius del logotip de Portes Pere Aguilar */
  --color-brand-red: #E34133;
  --color-brand-grey: #8A8F98;
  --color-brand-dark: #121218;
}

body {
  background-color: #ffffff;
  color: #121218;
}

.dark body {
  background-color: var(--color-brand-dark);
  color: #f0f0f0;
}
